@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

$base-color: #393e46;
$darker-color: #222831;
$highlight-color: #ffd369;
$subtext-color: #eeeeee;

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: $base-color;
    overflow-x: hidden;
}

#level-wrapper {
    z-index: 1;
}

#price-table {
    height: 105vh;
    z-index: 2;
    background-color: $darker-color;
    opacity: 0.8;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.darker-color {
    background-color: $darker-color;
}

#question-wrapper {
    min-height: 5em;
    margin: 0;
}

#contents {
    border: 5px solid black;
}

.next-question {
    animation: slide 2s forwards;
}

.highlight-price {
    color: $highlight-color;
}

@keyframes slide {
    50% {
        transform: translateX(-100vw);
        animation-timing-function: steps(1, end);
    }
    50% {
        transform: translateX(100vw);
    }
}
