@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

$base-color: #393e46;
$darker-color: #222831;
$highlight-color: #ffd369;
$subtext-color: #eeeeee;

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: $base-color;
}



@mixin center {
    display: flex;
    justify-content: center;
}

#question-wrapper {
    @include center();
    width: 80vw;
    height: 5em;
    background-color: red;
}

#button-wrapper {
    @include center();
    width: 80vw;
    height: 5em;
    background-color: blue;
}

#contents {
    @include center();
    width: 100%;
    border: 5px solid black;
}

.next-question {
    animation: slide 2s forwards;
}

@keyframes slide {
    50% {
        transform: translateX(-100vw);
        animation-timing-function: steps(1, end);
    }
    50% {
        transform: translateX(100vw);
    }
}
